body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.app {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  width: 100vw;
  transition: all 0.3s;
}

.ancients-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 55px;
  min-width: 40%;
  padding: 20px;
}
.ancient-card {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  cursor: pointer;
  height: 420px;
  width: 325px;
  border-radius: 10px;
  transition: ease-out 0.5s;
}

.ancient-card:active, .ancient-card:focus, .ancient-card:hover {
  box-shadow: 0px 0px 20px 5px white;
}

.difficulty-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 50px;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.3s;
}


.difficulty {
  /* border: 2px solid white; */
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: ease-in-out 0.5s;
}

.difficulty:focus, .difficulty:hover, .difficulty:active {
  box-shadow: 0px 0px 20px 5px white;
}

.difficulty-container.difficulty.active {
  border: 2px solid white;
  transition: all 0.3s;
}

.active {
  box-shadow: 0px 0px 20px 5px white;
  transition: all 0.3s;
}

.hidden {
  visibility: hidden;
  transition: all 0.3s;
}

.deck-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  min-width: 30%;
  transition: all 0.3s;
}


.deck-container .deck, .deck-container .last-card {
  background-size: cover;
  height: 330px;
  width: 225px;
  transition: all 0.3s;
}

.deck {
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;
}

.last-card {
  border-radius: 10px;
  transition: all 0.3s;
}

.deck-container .current-state {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 30%;
  transition: all 0.3s;
}

.deck-container .current-state .stage-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: all 0.3s;
}


.deck-container .current-state .stage-container .stage-text {
  color: white;;
  transition: all 0.3s;
}

.stage-text {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  transition: all 0.3s;
}

.deck-container .current-state .stage-container .dots-container {
  align-items: center;
  display: flex;
  gap: 40px;
  justify-content: center;
  opacity: 0.7;
  transition: all 0.3s;
}

.deck-container .current-state .stage-container .dot.green {
  background-color: rgb(2, 75, 30);
}
.deck-container .current-state .stage-container .dot.brown {
  background-color: rgb(119, 40, 3);
}
.deck-container .current-state .stage-container .dot.blue {
  background-color: rgb(66, 3, 117);
}
.deck-container .current-state .stage-container .dot {
  color: white;
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
  transition: all 0.3s;
}

.makeDeck {
  color: white;
  border: 2px solid white;
  box-sizing: border-box;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: ease-in-out 0.5s;

}

.makeDeck:hover, .makeDeck:active, .makeDeck:focus {
  border: 2px solid transparent;
  box-shadow: 0px 0px 20px 5px white;
  transition: all 0.3s;
}